<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConversion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.40.19.26:50176/ec.edu.monster.controlador/Conversion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConversion"
                contract="ConversionServiceReference.IConversion" name="BasicHttpBinding_IConversion" />
        </client>
    </system.serviceModel>
</configuration>